<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">

    <!--&lt;!&ndash;缓存&ndash;&gt;
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>-->

    <resultMap id="product" type="product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="subTitle" column="subTitle"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>

        <result property="productCategoryId" column="productCategory_id"/>
        <result property="companyId" column="company_id"/>
        <result property="brandQuotientId" column="brandQuotient_id"/>
    </resultMap>

    <insert id="insert" parameterType="product">
        INSERT INTO product_${tableIndex} (
          id,
          name,
          subTitle,
          price,
          description,
          status,
          productCategory_id,
          company_id,
          brandQuotient_id,
          createDate,
          yn
        )VALUES(
          #{id, jdbcType=BIGINT},
          #{name, jdbcType=VARCHAR},
          #{subTitle, jdbcType=VARCHAR},
          #{price, jdbcType=FLOAT},
          #{description, jdbcType=VARCHAR},
          0,
          #{productCategory.id, jdbcType=BIGINT},
          #{company.id, jdbcType=BIGINT},
          #{brandQuotient.id, jdbcType=BIGINT},
          NOW(),
          1
        )
    </insert>

    <update id="deleteL" parameterType="product">
        UPDATE product_${tableIndex} SET
          yn=0
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <update id="restore" parameterType="product">
        UPDATE product_${tableIndex} SET
        yn=1
        WHERE
        id=#{id, jdbcType=BIGINT}
        AND
        yn=0
    </update>

    <delete id="deleteP" parameterType="product">
        DELETE FROM product_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} and yn=0
    </delete>

    <update id="update" parameterType="product">
        UPDATE product_${tableIndex} SET
          name=#{name, jdbcType=VARCHAR},
          subTitle=#{subTitle, jdbcType=VARCHAR},
          price=#{price, jdbcType=FLOAT},
          description=#{description, jdbcType=VARCHAR},
          status=#{status, jdbcType=VARCHAR},
          productCategory_id=#{productCategory.id, jdbcType=BIGINT},
          company_id=#{company.id, jdbcType=BIGINT},
          updateDate=NOW()
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <select id="select" parameterType="product" resultMap="product">
        SELECT * FROM product_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} AND yn=1
    </select>

    <select id="list" parameterType="int" resultMap="product">
        SELECT * FROM product_${_parameter} WHERE yn=1
    </select>

    <select id="count" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM product_${_parameter} WHERE yn=1
    </select>

    <select id="listByDel" parameterType="int" resultMap="product">
        SELECT * FROM product_${_parameter} WHERE yn=0
    </select>

    <select id="countByDel" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM product_${_parameter} WHERE yn=0
    </select>

    <delete id="clear" parameterType="int" >
        DELETE FROM product_${_parameter} WHERE yn=0
    </delete>

    <select id="listByBrandQuotient_id" parameterType="map" resultMap="product">
        SELECT * FROM product_${tableIndex} WHERE yn=1 AND brandQuotient_id=#{brandQuotient_id, jdbcType=BIGINT}
    </select>

    <select id="countByBrandQuotient_id" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM product_${tableIndex} WHERE yn=1 AND brandQuotient_id=#{brandQuotient_id, jdbcType=BIGINT}
    </select>

    <select id="listByCompany_id" parameterType="map" resultMap="product">
        SELECT * FROM product_${tableIndex} WHERE yn=1 AND company_id=#{company_id, jdbcType=BIGINT}
    </select>

    <select id="countByCompany_id" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM product_${tableIndex} WHERE yn=1 AND company_id=#{company_id, jdbcType=BIGINT}
    </select>

    <select id="listByProductCategory_idAndCompany_id" parameterType="map" resultMap="product">
        SELECT * FROM product_${tableIndex} WHERE yn=1 AND productCategory_id=#{productCategory_id, jdbcType=BIGINT} AND company_id=#{company_id, jdbcType=BIGINT}
    </select>

    <select id="countByProductCategory_idAndCompany_id" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM product_${tableIndex} WHERE yn=1 AND productCategory_id=#{productCategory_id, jdbcType=BIGINT} AND company_id=#{company_id, jdbcType=BIGINT}
    </select>

    <select id="listByProductCategory_id" parameterType="map" resultMap="product">
        SELECT * FROM product_${tableIndex} WHERE yn=1 AND productCategory_id=#{productCategory_id, jdbcType=BIGINT}
    </select>

    <select id="countByProductCategory_id" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM product WHERE yn=1 AND productCategory_id=#{productCategory_id, jdbcType=BIGINT}
    </select>

    <select id="selectByName" parameterType="map" resultMap="product">
        SELECT * FROM product_${tableIndex} WHERE yn=1 AND name=#{name, jdbcType=VARCHAR}
    </select>
</mapper>