<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductCategory">

    <!--&lt;!&ndash;缓存&ndash;&gt;
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>-->

    <resultMap id="productCategory" type="productCategory">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="storey" column="storey"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>

        <result property="parentId" column="parent_id"/>
    </resultMap>

    <insert id="insert" parameterType="productCategory">
        INSERT INTO productCategory_${tableIndex} (
          id,
          name,
          storey,
          parent_id,
          createDate,
          yn
        )VALUES(
          #{id, jdbcType=BIGINT},
          #{name, jdbcType=VARCHAR},
          #{storey, jdbcType=INTEGER},
          #{parent.id, jdbcType=BIGINT},
          NOW(),
          1
        )
    </insert>

    <update id="deleteL" parameterType="productCategory">
        UPDATE productCategory_${tableIndex} SET
          yn=0
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <update id="restore" parameterType="productCategory">
        UPDATE productCategory_${tableIndex} SET
        yn=1
        WHERE
        id=#{id, jdbcType=BIGINT}
        AND
        yn=0
    </update>

    <delete id="deleteP" parameterType="productCategory">
        DELETE FROM productCategory_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} and yn=0
    </delete>

    <update id="update" parameterType="productCategory">
        UPDATE productCategory_${tableIndex} SET
          name=#{name, jdbcType=VARCHAR},
          updateDate=NOW()
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <select id="select" parameterType="productCategory" resultMap="productCategory">
        SELECT * FROM productCategory_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} AND yn=1
    </select>

    <select id="list" parameterType="int" resultMap="productCategory">
        SELECT * FROM productCategory_${_parameter} WHERE yn=1
    </select>

    <select id="count" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM productCategory_${_parameter} WHERE yn=1
    </select>

    <select id="listByDel" parameterType="int" resultMap="productCategory">
        SELECT * FROM productCategory_${_parameter} WHERE yn=0
    </select>

    <select id="countByDel" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM productCategory_${_parameter} WHERE yn=0
    </select>

    <delete id="clear" parameterType="int">
        DELETE FROM productCategory_${_parameter} WHERE yn=0
    </delete>

    <select id="selectByName" parameterType="map" resultMap="productCategory">
        SELECT * FROM productCategory_${tableIndex} WHERE yn=1 AND name=#{name, jdbcType=VARCHAR}
    </select>

    <select id="childListBy_id" parameterType="map" resultMap="productCategory">
        SELECT * FROM productCategory_${tableIndex} WHERE yn=1 AND parent_id=${id, jdbcType=BIGINT}
    </select>

    <select id="childCountBy_id" parameterType="map" resultMap="productCategory">
        SELECT COUNT(*) productCategory_${tableIndex} WHERE yn=1 AND parent_id=${id, jdbcType=BIGINT}
    </select>
</mapper>