<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>商家店铺</title>
		<link rel="stylesheet" href="../../css/bootstrap4.min.css">
		<link rel="stylesheet" href="../../css/user/brandQuotient/company.css">
	</head>

	<body>
		<!-- 头部信息 -->
		<div class="container">
			<div class="company">
				<div class="logo">
					<a href="#">Change</a>
				</div>
				<div class="info">
					<img src="../../img/shangjia.png" class="companyIcon">江南皮革厂
					<div></div>
					<span class="badge badge-pill badge-info">厂家直销</span>
					<!--
                -->
				</div>
				<div class="status">
					<div>
						描 述
						<br/>
						<span class="text-danger">4.9%</span>
					</div>
					<div>
						交 易
						<br/>
						<span class="text-success">1000件</span>
					</div>
					<div>
						好 评
						<br/>
						<span class="text-info">9999</span>
					</div>
				</div>
				<div>
					<a class="btn btn-danger text-white">收藏本店</a>
				</div>
				<div class="serch ml-auto align-self-center">
					<input type="text" name="" placeholder="店内搜索">
					<button>本店搜索</button>
				</div>
			</div>
		</div>
		<!-- 导航条-->
		<div class="navout">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="#"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="#">商家店铺</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"></a>
							</li>
							<li class="nav-item js">
								<a class="nav-link " href="#">企业介绍</a>
								<div class="detail">
				                    <div>店长: 游杰</div>
				                    <div>电话: 131353154848</div>
				                    <div>邮箱: youjie2015@126.com</div>
				                    <div>注册时间: 2018-6-7 13:27:56 </div>
				                </div>
							</li>

						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- 轮播图 -->
		<div class="">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="../../img/lb1.jpg" alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../img/lb2.jpg" alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="../../img/lb3.jpg" alt="Third slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div class="container mt-4">
			<h5>店主热卖</h5>
			<div class="row products">
				<div class="col-md-3">
					<a href="#" class="item">
						<img src="../../img/commodity/4.webp.jpg" alt="" class="img-fluid">
						<div class="info">
							<p>真皮拖鞋6666</p>
							<div class="clearfix">
								<span style="color: #f40;" class="float-left">¥: 887</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">好评: 897</span>
							</div>
							<div class="clearfix">
								<span style="color: #6c757d;font-size: 12px" class="float-left">分类: 数码设备</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">库存: 123</span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="item">
						<img src="../../img/commodity/4.webp.jpg" alt="" class="img-fluid">
						<div class="info">
							<p>真皮拖鞋6666</p>
							<div class="clearfix">
								<span style="color: #f40;" class="float-left">¥: 887</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">好评: 897</span>
							</div>
							<div class="clearfix">
								<span style="color: #6c757d;font-size: 12px" class="float-left">分类: 数码设备</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">库存: 123</span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="item">
						<img src="../../img/commodity/4.webp.jpg" alt="" class="img-fluid">
						<div class="info">
							<p>真皮拖鞋6666</p>
							<div class="clearfix">
								<span style="color: #f40;" class="float-left">¥: 887</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">好评: 897</span>
							</div>
							<div class="clearfix">
								<span style="color: #6c757d;font-size: 12px" class="float-left">分类: 数码设备</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">库存: 123</span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="item">
						<img src="../../img/commodity/4.webp.jpg" alt="" class="img-fluid">
						<div class="info">
							<p>真皮拖鞋6666</p>
							<div class="clearfix">
								<span style="color: #f40;" class="float-left">¥: 887</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">好评: 897</span>
							</div>
							<div class="clearfix">
								<span style="color: #6c757d;font-size: 12px" class="float-left">分类: 数码设备</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">库存: 123</span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#" class="item">
						<img src="../../img/commodity/4.webp.jpg" alt="" class="img-fluid">
						<div class="info">
							<p>真皮拖鞋6666</p>
							<div class="clearfix">
								<span style="color: #f40;" class="float-left">¥: 887</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">好评: 897</span>
							</div>
							<div class="clearfix">
								<span style="color: #6c757d;font-size: 12px" class="float-left">分类: 数码设备</span>
								<span style="color: #6c757d;font-size: 12px" class="float-right">库存: 123</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- jQuery first, then Popper.js, then Bootstrap JS  -->
		<script src="../../js/jquery-3.2.1.min.js"></script>
		<script src="../../js/popper.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>

	</body>

</html>