<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cathub.change.storehouse.bean.StorehouseCountry">

    <cache/>
    <resultMap id="storehouseCountry" type="storehouseCountry">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>
    </resultMap>

    <insert id="insert" parameterType="storehouseCountry">
        INSERT INTO storehouseCountry_${tableIndex} (
          id,
          name,
          createDate,
          yn
        )VALUES(
          #{id, jdbcType=BIGINT},
          #{name, jdbcType=VARCHAR},
          NOW(),
          1
        )
    </insert>

    <update id="deleteL" parameterType="storehouseCountry">
        UPDATE storehouseCountry_${tableIndex} SET
          yn=0
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <update id="restore" parameterType="storehouseCountry">
        UPDATE storehouseCountry_${tableIndex} SET
          yn=1
        WHERE
          id=#{id, jdbcType=BIGINT}
        AND
          yn=0
    </update>

    <delete id="deleteP" parameterType="storehouseCountry">
        DELETE FROM storehouseCountry_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} and yn=0
    </delete>

    <update id="update" parameterType="storehouseCountry">
        UPDATE storehouseCountry_${tableIndex} SET
          name=#{name, jdbcType=VARCHAR},
          updateDate=NOW()
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <select id="select" parameterType="storehouseCountry" resultMap="storehouseCountry">
        SELECT * FROM storehouseCountry_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} AND yn=1
    </select>

    <select id="list" parameterType="int" resultMap="storehouseCountry">
        SELECT * FROM storehouseCountry_${_parameter} WHERE yn=1
    </select>

    <select id="count" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM storehouseCountry_${_parameter} WHERE yn=1
    </select>

    <select id="listByDel" parameterType="int" resultMap="storehouseCountry">
        SELECT * FROM storehouseCountry_${_parameter} WHERE yn=0
    </select>

    <select id="countByDel" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM storehouseCountry_${_parameter} WHERE yn=0
    </select>

    <delete id="clear" parameterType="int">
        DELETE FROM storehouseCountry_${_parameter} WHERE yn=0
    </delete>
</mapper>