<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StorehouseProductStock">

    <!--&lt;!&ndash;缓存&ndash;&gt;
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>-->

    <resultMap id="storehouseProductStock" type="storehouseProductStock">
        <id property="id" column="id"/>
        <result property="stock" column="stock"/>
        <result property="price" column="price"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>

        <result property="product_id" column="product_id"/>
        <result property="storehouse_id" column="storehouse_id"/>
    </resultMap>

    <insert id="insert" parameterType="storehouseProductStock">
        INSERT INTO storehouseProductStock_${tableIndex} (
          id,
          stock,
          price,
          product_id,
          storehouse_id,
          createDate,
          yn
        )VALUES(
          #{id, jdbcType=BIGINT},
          #{stock, jdbcType=FLOAT},
          #{price, jdbcType=FLOAT},
          #{product.id, jdbcType=BIGINT},
          #{storehouse.id, jdbcType=BIGINT},
          NOW(),
          1
        )
    </insert>

    <update id="deleteL" parameterType="storehouseProductStock">
        UPDATE storehouseProductStock_${tableIndex} SET
          yn=0
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <update id="restore" parameterType="storehouseProductStock">
        UPDATE storehouseProductStock_${tableIndex} SET
          yn=1
        WHERE
          id=#{id, jdbcType=BIGINT}
        AND
          yn=0
    </update>

    <delete id="deleteP" parameterType="storehouseProductStock">
        DELETE FROM storehouseProductStock_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} and yn=0
    </delete>

    <update id="update" parameterType="storehouseProductStock">
        UPDATE storehouseProductStock_${tableIndex} SET
          stock=#{stock, jdbcType=FLOAT},
          price=#{price, jdbcType=FLOAT},
          updateDate=NOW()
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <select id="select" parameterType="storehouseProductStock" resultMap="storehouseProductStock">
        SELECT * FROM storehouseProductStock_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} AND yn=1
    </select>

    <select id="list" parameterType="int" resultMap="storehouseProductStock">
        SELECT * FROM storehouseProductStock_${_parameter} WHERE yn=1
    </select>

    <select id="count" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM storehouseProductStock_${_parameter} WHERE yn=1
    </select>

    <select id="listByDel" parameterType="int" resultMap="storehouseProductStock">
        SELECT * FROM storehouseProductStock_${_parameter} WHERE yn=0
    </select>

    <select id="countByDel" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM storehouseProductStock_${_parameter} WHERE yn=0
    </select>

    <delete id="clear" parameterType="int">
        DELETE FROM storehouseProductStock_${_parameter} WHERE yn=0
    </delete>

    <select id="selectByStorehouseIdAndProductId" parameterType="map" resultMap="storehouseProductStock">
        SELECT * FROM storehouseProductStock_${tableIndex} WHERE yn=1 AND storehouse_id=#{storehouse_id, jdbcType=BIGINT} AND product_id=#{product_id, jdbcType=BIGINT}
    </select>

    <select id="listByStorehouseId" parameterType="map" resultMap="storehouseProductStock">
        SELECT * FROM storehouseProductStock_${tableIndex} WHERE yn=1 AND storehouse_id=#{storehouse_id, jdbcType=BIGINT}
    </select>
</mapper>