<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cathub.change.user.bean.Admin">

    <cache/>
    <resultMap id="admin" type="admin">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>

        <result property="role_id" column="role_id"/>
    </resultMap>

    <insert id="insert" parameterType="admin">
        INSERT INTO admin_${tableIndex} (
          id,
          username,
          password,
          role_id,
          createDate,
          yn
        )VALUES(
          #{id, jdbcType=BIGINT},
          #{username, jdbcType=VARCHAR},
          #{password, jdbcType=VARCHAR},
          #{role.id, jdbcType=BIGINT},
          NOW(),
          1
        )
    </insert>

    <update id="deleteL" parameterType="admin">
        UPDATE admin_${tableIndex} SET
          yn=0
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <delete id="deleteP" parameterType="admin">
        DELETE FROM admin_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} and yn=0
    </delete>

    <update id="update" parameterType="admin">
        UPDATE admin_${tableIndex} SET
          password=#{password, jdbcType=VARCHAR},
          role_id=#{role.id, jdbcType=BIGINT},
          updateDate=NOW()
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <select id="select" parameterType="admin" resultMap="admin">
        SELECT * FROM admin_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} AND yn=1
    </select>

    <update id="restore" parameterType="admin">
        UPDATE admin_${tableIndex} SET
        yn=1
        WHERE
        id=#{id, jdbcType=BIGINT}
        AND
        yn=0
    </update>

    <select id="list" parameterType="int" resultMap="admin">
        SELECT * FROM admin_#{_parameter} WHERE yn=1
    </select>

    <select id="count" parameterType="int" resultType="long">
        SELECT COUNT(*) FROM admin_${_parameter} WHERE yn=1
    </select>

    <select id="login" parameterType="admin" resultMap="admin">
        SELECT * FROM admin_${tableIndex} where yn=1 AND username=#{username, jdbcType=VARCHAR} AND password=#{password, jdbcType=VARCHAR}
    </select>

    <delete id="clear" parameterType="int">
        DELETE FROM admin__${_parameter} WHERE yn=0
    </delete>
</mapper>