<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cathub.change.user.bean.OnlineStore">

    <cache/>
    <resultMap id="onlineStore" type="onlineStore">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>

        <result property="shopkeeper_id" column="shopkeeper_id"/>
    </resultMap>

    <insert id="insert" parameterType="onlineStore">
        INSERT INTO onlineStore_${tableIndex} (
          id,
          url,
          shopkeeper_id,
          createDate,
          yn
        )VALUES(
          #{id, jdbcType=BIGINT},
          #{url, jdbcType=VARCHAR},
          #{shopkeeper.id, jdbcType=BIGINT},
          NOW(),
          1
        )
    </insert>

    <update id="deleteL" parameterType="onlineStore">
        UPDATE onlineStore_${tableIndex} SET
          yn=0
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <update id="restore" parameterType="onlineStore">
        UPDATE onlineStore_${tableIndex} SET
        yn=1
        WHERE
        id=#{id, jdbcType=BIGINT}
        AND
        yn=0
    </update>

    <delete id="deleteP" parameterType="onlineStore">
        DELETE FROM onlineStore_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} and yn=0
    </delete>

    <update id="update" parameterType="onlineStore">
        UPDATE onlineStore_${tableIndex} SET
          url=#{url, jdbcType=VARCHAR},
          updateDate=NOW()
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <select id="select" parameterType="onlineStore" resultMap="onlineStore">
        SELECT * FROM onlineStore_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} AND yn=1
    </select>

    <select id="list" parameterType="int" resultMap="onlineStore">
        SELECT * FROM onlineStore_${_parameter} WHERE yn=1
    </select>

    <select id="count" parameterType="int" resultType="long">
        SELECT COUNT(*) FROM onlineStore_${_parameter} WHERE yn=1
    </select>

    <delete id="clear" parameterType="int">
        DELETE FROM onlineStore_${_parameter} WHERE yn=0
    </delete>

    <select id="listByShopkeeperId" parameterType="map" resultMap="onlineStore">
        SELECT * FROM onlineStore_${tableIndex} WHERE yn=1 AND shopkeeper_id=#{shopkeeper_id, jdbcType=BIGINT}
    </select>

    <select id="countByShopkeeperId" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM onlineStore_${tableIndex} WHERE yn=1 AND shopkeeper_id=#{shopkeeper_id, jdbcType=BIGINT}
    </select>
</mapper>