<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CRUD</title>

	<link href="../../resources/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../../resources/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
	<link href="../../resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="../../resources/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
	<link href="../../resources/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
	<link href="../../resources/plugins/select2/css/select2.min.css" rel="stylesheet"/>

	<link href="../../resources/css/common.css" rel="stylesheet"/>
</head>
<body>
<div id="main">
	<div id="toolbar">
		<a class="waves-effect waves-button" href="javascript:;" onclick="createAction()"><i class="zmdi zmdi-plus"></i> 新增产品图片</a>
		<a class="waves-effect waves-button" href="javascript:;" onclick="deleteAction()"><i class="zmdi zmdi-close"></i> 批量删除图片</a>
	</div>
	<table id="table"></table>
</div>
<!-- 新增 -->
<div id="createDialog" class="crudDialog" hidden>
	<form class="createForm">
		<div class="form-group">
			<label for="create-url">图片URL</label>
			<input id="create-url" type="text" class="form-control" name="url">
		</div>
		<div class="form-group">
			<label for="create-type">图片类型</label>
			<input id="create-type" type="text" class="form-control" name="type">
		</div>
		<div class="form-group">
			<label for="create-product">所属产品ID</label>
			<input id="create-product" type="text" class="form-control" name="product.id">
		</div>
	</form>
</div>

<!-- 修改 -->
<div id="updateDialog" class="crudDialog" hidden>
    <form>
		<p style="color: darkgray"> - 只更新填写的部分信息 - </p>
		<div class="form-group">
			<label for="update-url">图片URL</label>
			<input id="update-url" type="text" class="form-control update-url">
		</div>
		<div class="form-group">
			<label for="update-type">图片类型</label>
			<input id="update-type" type="text" class="form-control update-type">
		</div>
		<div class="form-group">
			<label for="update-product">所属产品ID</label>
			<input id="update-product" type="text" class="form-control update-product">
		</div>
    </form>
</div>
<script src="../../resources/plugins/jquery.1.12.4.min.js"></script>
<script src="../../resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="../../resources/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="../../resources/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../resources/plugins/waves-0.7.5/waves.min.js"></script>
<script src="../../resources/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="../../resources/plugins/select2/js/select2.min.js"></script>

<script src="../../resources/js/common.js"></script>
<script>
var $table = $('#table');
$(function() {
	$(document).on('focus', 'input[type="text"]', function() {
		$(this).parent().find('label').addClass('active');
	}).on('blur', 'input[type="text"]', function() {
		if ($(this).val() == '') {
			$(this).parent().find('label').removeClass('active');
		}
	});
	// bootstrap table初始化
	// http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
	$table.bootstrapTable({
		url: '../../productImage/list',
        method: 'get',
		height: getHeight(),
		striped: true,
		search: false,
		searchOnEnterKey: true,
		showRefresh: true,
		showToggle: true,
		showColumns: true,
		minimumCountColumns: 2,
		showPaginationSwitch: true,
		clickToSelect: true,
		detailView: true,
		detailFormatter: 'detailFormatter',
		pagination: true,
		paginationLoop: false,
		classes: 'table table-hover table-no-bordered',
		sidePagination: 'server',
		//silentSort: false,
		smartDisplay: false,
		idField: 'id',
		sortName: 'id',
		sortOrder: 'desc',
		escape: true,
		searchOnEnterKey: true,
		idField: 'systemId',
		maintainSelected: true,
		toolbar: '#toolbar',
        queryParamsType: "undefined",
        pageNumber: 1, // 页码，点击上下页自动更改值
        pageSize: 15,  // 页大小，点击大小自动更改值
        queryParams: function queryParams(params) {
            var temp = {  //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                page: params.pageNumber,
                count: params.pageSize,
                tableIndex: 0
            };
            return temp;
        },
		columns: [
			{field: 'state', checkbox: true},
			{field: 'id', title: '编号', sortable: true, halign: 'left'},
			{field: 'url', title: 'url', sortable: true, halign: 'left'},
			{field: 'type', title: '类型', sortable: true, halign: 'left'},
			{field: 'product.name', title: '所属产品', sortable: true, halign: 'left'},
			{field: 'createDate', title: '创建时间', sortable: true, halign: 'left'},
			{field: 'updateDate', title: '更新时间', sortable: true, halign: 'left'},
			{field: 'action', title: '操作', sortable: false, halign: 'left', formatter: 'actionFormatter', events: 'actionEvents', clickToSelect: false}
		]
	}).on('all.bs.table', function (e, name, args) {
		$('[data-toggle="tooltip"]').tooltip();
		$('[data-toggle="popover"]').popover();  
	});
});
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　',
        '<a class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>　',
        '<a class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="Remove"><i class="glyphicon glyphicon-remove"></i></a>'
    ].join('');
}
window.actionEvents = {
    'click .like': function (e, value, row, index) {
        alert('You click like icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    },
    'click .edit': function (e, value, row, index) {
        updateAction(row.id);
    },
    'click .remove': function (e, value, row, index) {
        deleteAction(row.id);
    }
};
function detailFormatter(index, row) {
	var html = [];
	$.each(row, function (key, value) {
		html.push('<p><b>' + key + ':</b> ' + value + '</p>');
	});
	return html.join('');
}
// 新增
function createAction() {
	$.confirm({
		type: 'dark',
		animationSpeed: 300,
		title: '新增产品图片',
		content: $('#createDialog').html(),
		buttons: {
			confirm: {
				text: '确认',
				btnClass: 'waves-effect waves-button',
				action: function () {
                    $.ajax({
                        url: "../../productImage/insert",
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded",
                        dataType: "json",
                        data: $(".createForm:last").serialize(), //传递表单值
                        success: function () {
                            $table.bootstrapTable('refresh'); //刷新表格
                        }
                    });
				}
			},
			cancel: {
				text: '取消',
				btnClass: 'waves-effect waves-button'
			}
		}
	});
}
// 编辑
function updateAction(id) {
    $.confirm({
        type: 'blue',
        animationSpeed: 300,
        title: '编辑管理员',
        content: $('#updateDialog').html(),
        buttons: {
            confirm: {
                text: '确认',
                btnClass: 'waves-effect waves-button',
                action: function () {
                    var url = $(".update-url:last").val();
                    var type = $(".update-type:last").val();
                    var product_id = $(".update-product:last").val();

                    //创建json对象
                    var productImage = {};
                    productImage.id = id;
                    if (url != '') {
                        productImage.url = url;
                    }
                    if (type != '') {
                        productImage.type = type;
                    }
                    if (product_id != '') {
                        productImage.product = {"id":product_id};
                    }
                    productImage = JSON.stringify(productImage);
                    $.ajax({
                        url: "../../product/update",
						contentType:"application/json",
                        type: "POST",
                        dataType: "json",
                        data: productImage,
                        success: function (flag) {
                            if(flag){
                            	$table.bootstrapTable('refresh');
							}else {
                                alert("更新失败，请检查产品ID是否存在。");
                                return false;
							}
                        }
                    });
                }
            },
            cancel: {
                text: '取消',
                btnClass: 'waves-effect waves-button'
            }
        }
    });
}
// 删除
function deleteAction(id) {
	var rows = $table.bootstrapTable('getSelections');
    if (rows.length == 0 && id == null) {
        $.confirm({
            title: false,
            content: '请至少选择一条记录！',
            autoClose: 'cancel|3000',
            backgroundDismiss: true,
            buttons: {
                cancel: {
                    text: '取消',
                    btnClass: 'waves-effect waves-button'
                }
            }
        });
    } else {
        $.confirm({
            type: 'red',
            animationSpeed: 300,
            title: false,
            content: '确认删除吗？',
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'waves-effect waves-button',
                    action: function () {
                        var ids = new Array();
                        if (rows.length != 0 && id == null) {
                            for (var i in rows) {
                                ids.push(rows[i].id);
                            }
                        } else {
                            ids.push(id);
                        }
                        //异步删除
                        $.ajax({
                            url: "../../productImage/delete",
                            type: "post",
                            dataType: "json",
                            data: {ids: ids},
                            success: function () {
                                $('#table').bootstrapTable('refresh');
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    btnClass: 'waves-effect waves-button'
                }
            }
        });
    }
}
</script>
</body>
</html>