<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Shopkeeper">

    <!--缓存-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>

    <resultMap id="shopkeeper" type="shopkeeper">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="createDate" column="createDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insert" parameterType="shopkeeper">
        INSERT INTO shopkeeper_${tableIndex} (
          id,
          username,
          password,
          name,
          phone,
          email,
          status,
          createDate,
          yn
        )VALUES(
          #{id, jdbcType=BIGINT},
          #{username, jdbcType=VARCHAR},
          #{password, jdbcType=VARCHAR},
          #{name, jdbcType=VARCHAR},
          #{phone, jdbcType=VARCHAR},
          #{email, jdbcType=VARCHAR},
          0,
          NOW(),
          1
        )
    </insert>

    <update id="deleteL" parameterType="shopkeeper">
        UPDATE shopkeeper_${tableIndex} SET
          yn=0
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <update id="restore" parameterType="shopkeeper">
        UPDATE shopkeeper_${tableIndex} SET
        yn=1
        WHERE
        id=#{id, jdbcType=BIGINT}
        AND
        yn=0
    </update>

    <delete id="deleteP" parameterType="shopkeeper">
        DELETE FROM shopkeeper_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} and yn=0
    </delete>

    <update id="update" parameterType="shopkeeper">
        UPDATE shopkeeper_${tableIndex} SET
          password=#{password, jdbcType=VARCHAR},
          name=#{name, jdbcType=VARCHAR},
          phone=#{phone, jdbcType=VARCHAR},
          email=#{email, jdbcType=VARCHAR},
          status=#{status, jdbcType=INTEGER},
          updateDate=NOW()
        WHERE
          id=#{id, jdbcType=BIGINT}
        and
          yn=1
    </update>

    <select id="select" parameterType="shopkeeper" resultMap="shopkeeper">
        SELECT * FROM shopkeeper_${tableIndex} WHERE id=#{id, jdbcType=BIGINT} AND yn=1
    </select>

    <select id="list" parameterType="int" resultMap="shopkeeper">
        SELECT * FROM shopkeeper_${_parameter} WHERE yn=1
    </select>

    <select id="count" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM shopkeeper_${_parameter} WHERE yn=1
    </select>

    <select id="listByDel" parameterType="int" resultMap="shopkeeper">
        SELECT * FROM shopkeeper_${_parameter} WHERE yn=0
    </select>

    <select id="countByDel" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM shopkeeper_${_parameter} WHERE yn=0
    </select>

    <delete id="clear" parameterType="int">
        DELETE FROM shopkeeper_${_parameter} WHERE yn=0
    </delete>

    <select id="selectByName" parameterType="map" resultType="shopkeeper">
        SELECT * FROM shopkeeper_${tableIndex} WHERE yn=1 AND username=#{name, jdbcType=VARCHAR}
    </select>
</mapper>