<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>后台管理系统</title>

	<link href="../resources/plugins/fullPage/jquery.fullPage.css" rel="stylesheet"/>
	<link href="../resources/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../resources/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
	<link href="../resources/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
	<link href="../resources/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
	<link href="../resources/css/admin.css" rel="stylesheet"/>
	<style>
		/** skins **/
		#change-admin-upms #header {background: #29A176;}
		#change-admin-upms .content_tab{background: #29A176;}
		#change-admin-upms .s-profile>a{background: url(../resources/images/change-upms.png) left top no-repeat;}

		#change-admin-user #header {background: #455EC5;}
		#change-admin-user .content_tab{background: #455EC5;}
		#change-admin-user .s-profile>a{background: url(../resources/images/change-user.png) left top no-repeat;}

		#change-admin-wallet #header {background: #F06292;}
		#change-admin-wallet .content_tab{background: #F06292;}
		#change-admin-wallet .s-profile>a{background: url(../resources/images/change-wallet.png) left top no-repeat;}

		#change-admin-product #header {background: #6539B4;}
		#change-admin-product .content_tab{background: #6539B4;}
		#change-admin-product .s-profile>a{background: url(../resources/images/change-product.png) left top no-repeat;}

		#change-admin-storehouse #header {background: #0B8DE5;}
		#change-admin-storehouse .content_tab{background: #0B8DE5;}
		#change-admin-storehouse .s-profile>a{background: url(../resources/images/change-storehouse.png) left top no-repeat;}

		#change-admin-order #header {background: #1b9fdd;}
		#change-admin-order .content_tab{background: #1b9fdd;}
		#change-admin-order .s-profile>a{background: url(../resources/images/change-order.png) left top no-repeat;}

		/*#test #header {background: test;}
        #test .content_tab{background: test;}
        #test .s-profile>a{background: url(test) left top no-repeat;}*/
	</style>
</head>
<body>
<header id="header">
	<ul id="menu">
		<li id="guide" class="line-trigger">
			<div class="line-wrap">
				<div class="line top"></div>
				<div class="line center"></div>
				<div class="line bottom"></div>
			</div>
		</li>
		<li id="logo" class="hidden-xs">
			<a href="index.html">
				<img src="../resources/images/logo.png"/>
			</a>
			<span id="system_title">后台管理系统</span>
		</li>
		<li class="pull-right">
			<ul class="hi-menu">
				<!-- 搜索 -->
				<li class="dropdown">
					<a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
						<i class="him-icon zmdi zmdi-search"></i>
					</a>
					<ul class="dropdown-menu dm-icon pull-right">
						<form id="search-form" class="form-inline">
							<div class="input-group">
								<input id="keywords" type="text" name="keywords" class="form-control" placeholder="搜索"/>
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
								</div>
							</div>
						</form>
					</ul>
				</li>
				<li class="dropdown">
					<a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
						<i class="him-icon zmdi zmdi-dropbox"></i>
					</a>
					<ul class="dropdown-menu dm-icon pull-right">
						<li class="skin-switch">
							请选择系统切换
						</li>
						<li class="divider"></li>
						<li>
							<a class="waves-effect switch-systems" href="http://localhost:9991" systemid="1" systemname="change-admin-user" systemtitle="用户管理系统"><i class="zmdi zmdi-account"></i> 用户管理系统</a>
						</li>
						<li>
							<a class="waves-effect switch-systems" href="http://localhost:9990" systemid="2" systemname="change-admin-upms" systemtitle="权限管理系统"><i class="zmdi zmdi-shield-security"></i> 权限管理系统</a>
						</li>
						<li>
							<a class="waves-effect switch-systems" href="http://localhost:9992" systemid="3" systemname="change-admin-product" systemtitle="商品管理系统"><i class="zmdi zmdi-wikipedia"></i> 商品管理系统</a>
						</li>
						<li>
							<a class="waves-effect switch-systems" href="http://localhost:9993" systemid="4" systemname="change-admin-storehouse" systemtitle="仓库管理系统"><i class="zmdi zmdi-cloud"></i> 仓库管理系统</a>
						</li>
						<li>
							<a class="waves-effect switch-systems" href="http://localhost:9994" systemid="5" systemname="change-admin-order" systemtitle="订单管理系统"><i class="zmdi zmdi-windows"></i> 订单管理系统</a>
						</li>
						<li>
							<a class="waves-effect switch-systems" href="javascript:;" systemid="6" systemname="change-admin-wallet" systemtitle="钱包管理系统"><i class="zmdi zmdi-paypal-alt"></i> 钱包管理系统</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="waves-effect waves-light" data-toggle="dropdown" href="javascript:;">
						<i class="him-icon zmdi zmdi-more-vert"></i>
					</a>
					<ul class="dropdown-menu dm-icon pull-right">
						<li class="hidden-xs">
							<a class="waves-effect" data-ma-action="fullscreen" href="javascript:fullPage();"><i class="zmdi zmdi-fullscreen"></i> 全屏模式</a>
						</li>
						<li>
							<a class="waves-effect" data-ma-action="clear-localstorage" href="javascript:;"><i class="zmdi zmdi-delete"></i> 清除缓存</a>
						</li>
						<li>
							<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-face"></i> 隐私管理</a>
						</li>
						<li>
							<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-settings"></i> 系统设置</a>
						</li>
						<li>
							<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-run"></i> 退出登录</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</header>
<section id="main">
	<!-- 左侧导航区 -->
	<aside id="sidebar">
		<!-- 个人资料区 -->
		<div class="s-profile">
			<a class="waves-effect waves-light" href="javascript:;">
				<div class="sp-pic">
					<img src="../resources/images/avatar.jpg"/>
				</div>
				<div class="sp-info">
					change，您好！
					<i class="zmdi zmdi-caret-down"></i>
				</div>
			</a>
			<ul class="main-menu">
				<li>
					<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-account"></i> 个人资料</a>
				</li>
				<li>
					<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-face"></i> 隐私管理</a>
				</li>
				<li>
					<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-settings"></i> 系统设置</a>
				</li>
				<li>
					<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-run"></i> 退出登录</a>
				</li>
			</ul>
		</div>
		<!-- /个人资料区 -->
		<!-- 菜单区 -->
		<ul class="main-menu">
			<li>
				<a class="waves-effect" href="javascript:Tab.addTab('首页', 'home');"><i class="zmdi zmdi-home"></i> 首页</a>
			</li>
			<li class="sub-menu system_menus system_1 0">
				<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-accounts"></i> 用户模块</a>
				<ul>
					<li><a class="waves-effect" href="javascript:Tab.addTab('管理列表', '/view/crud/admin_crud.html');">管理列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('企业列表', '/view/crud/company_crud.html');">企业列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('品牌列表', '/view/crud/brandQuotient_crud.html');">品牌列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('店主列表', '/view/crud/shopkeeper_crud.html');">店主列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('网店列表', '/view/crud/onlineStore_crud.html');">网店列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('审核列表', '/view/crud/auditing_crud.html');">审核列表</a></li>
				</ul>
			</li>
			<li class="sub-menu system_menus system_2 1">
				<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-lock-outline"></i> 权限模块</a>
				<ul>
					<li><a class="waves-effect" href="javascript:Tab.addTab('角色列表', '/view/crud/role_crud.html');">角色列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('权限列表', '/view/crud/permission_crud.html');">权限列表</a></li>
				</ul>
			</li>
			<li class="sub-menu system_menus system_3 2">
				<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-satellite"></i> 产品模块</a>
				<ul>
					<li><a class="waves-effect" href="javascript:Tab.addTab('分类列表', '/view/crud/productCategory_crud.html');">分类列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('产品列表', '/view/crud/product_crud.html');">产品列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('图片列表', '/view/crud/productImage_crud.html');">图片列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('评论列表', '/view/crud/productReview_crud.html');">评论列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('属性列表', '/view/crud/property_crud.html');">属性列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('属值列表', '/view/crud/propertyValue_crud.html');">属值列表</a></li>
				</ul>
			</li>
			<li class="sub-menu system_menus system_4 3">
				<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-comments"></i> 仓库模块</a>
				<ul>
					<li><a class="waves-effect" href="javascript:Tab.addTab('国家列表', '/view/crud/storehouseCountry_crud.html');">国家列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('分类列表', '/view/crud/storehouse_crud.html');">仓库列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('产品列表', '/view/crud/storehouseProductStock_crud.html');">产品列表</a></li>
				</ul>
			</li>
			<li class="sub-menu system_menus system_5 4">
				<a class="waves-effect" href="javascript:;"><i class="zmdi zmdi-flip-to-front"></i> 订单模块</a>
				<ul>
					<li><a class="waves-effect" href="javascript:Tab.addTab('订单列表', '/view/crud/order_crud.html');">订单列表</a></li>
					<li><a class="waves-effect" href="javascript:Tab.addTab('单项列表', '/view/crud/orderItem_crud.html');">单项列表</a></li>
				</ul>
			</li>
			</li>
		</ul>
		<!-- /菜单区 -->
	</aside>
	<!-- /左侧导航区 -->
	<section id="content">
		<div class="content_tab">
			<div class="tab_left">
				<a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-left"></i></a>
			</div>
			<div class="tab_right">
				<a class="waves-effect waves-light" href="javascript:;"><i class="zmdi zmdi-chevron-right"></i></a>
			</div>
			<ul id="tabs" class="tabs">
				<li id="tab_home" data-index="home" data-closeable="false" class="cur">
					<a class="waves-effect waves-light">首页</a>
				</li>
			</ul>
		</div>
		<div class="content_main">
			<div id="iframe_home" class="iframe cur">
			</div>
		</div>
	</section>
</section>
<footer id="footer"></footer>

<script src="../resources/plugins/jquery.1.12.4.min.js"></script>
<script src="../resources/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="../resources/plugins/waves-0.7.5/waves.min.js"></script>
<script src="../resources/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../resources/plugins/BootstrapMenu.min.js"></script>
<script src="../resources/plugins/device.min.js"></script>
<script src="../resources/plugins/fullPage/jquery.fullPage.min.js"></script>
<script src="../resources/plugins/fullPage/jquery.jdirk.min.js"></script>
<script src="../resources/plugins/jquery.cookie.js"></script>

<script src="../resources/js/admin.js"></script>
</body>
</html>