.products{
	padding: 15px 0;
}
.products .item {
	display: block;
	padding: 5px 8px;
	color: #333;
	border: 1px solid #eee;
}
.products .item:hover{
	border: 1px solid #ff6000;
}
.products .item > .img img {
	width: 100%;
	height: auto;
}
.products .item > .product-name{
	font-size: 14px;
	margin: 10px 0;
}
.products .item > .info{
	font-size: 12px;
	color: #666;
}